/* HEADER */
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;

   .navbar-brand {
      text-decoration: none;
      color: $blue;
   }

   & > ul {
      display: flex;
      list-style: none;

      a {
         display: inline-block;
         padding: .8rem 1rem;
         text-decoration: none;
         font-size: .875em;
         color: $blue;
         border-bottom: 2px solid transparent;
         transition: border-color .2s linear;

         &.active,
         &:hover {
            border-color: $green;
         }
      }
   }
}