/* HEADER */
.main-header {
   width: 100%;
   position: fixed;
   top: 0;
   background-color: $white;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;

   .navbar-brand {
      flex-basis: 10%;

      .header-logo {
         max-width: 100%;

         & > img {
            max-width: 100%;
         }
      }
   }

   & > ul {
      display: flex;
      list-style: none;

      a {
         display: inline-block;
         padding: .8rem 1rem;
         text-decoration: none;
         font-size: .875em;
         color: $blue;
         border-bottom: 2px solid transparent;
         transition: border-color .2s linear;

         &.active,
         &:hover {
            border-color: $green;
         }
      }

      & > li:last-child {
         background-color: $green;
         border-radius: 5px;

         & > a {
            font-size: 18px;
            font-weight: 500;
            color: $white;
         }
      }
   }
}