/* STUDENTS */
.students {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.student {
   flex-basis: 48%;
   display: block;
   text-decoration: none;
   padding: 1rem;
   margin-bottom: 2rem;
   background-color: $light-grey;
   color: $dark-grey;
   box-shadow: 0px 0px 5px 3px $dark-grey;
   transition: background-color .2s linear, box-shadow .2s linear;

   &:hover {
      background-color: $white;
      box-shadow: 0px 0px 5px 3px $blue;
   }
}

.student-img {
   max-width: 18%;
   margin-bottom: 30px;
   box-shadow: 0px 0px 3px 3px $green;

   & > img {
      max-width: 100%;
   }
}